
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.text-justify {
  text-align: justify;
}

 .navbar {
background: linear-gradient(135deg, #c2b280, #e6d7b9 100%);
 }

 .carousel-caption {
  top: 0;
  bottom: 0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.8);
}

.project .card-img-top {
  height: 220px;        /* perfect for portfolio cards */
  width: 100%;
  object-fit: cover;    /* crops image without distortion */
}

.project .card {
  height: 100%;
}
