
.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.carousel-item img{
  height: 80vh;
  width: 60vh
  ;
}
